#main-card {
  max-width: 700px;
  text-align: center;
}

.icon-wrp {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.main-title {
  font-size: var(--h1-size);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.main-descr {
  font-size: var(--p-size);
  line-height: 1.6;
  color: var(--text-main);
  margin-bottom: 2.5rem;
  opacity: 0.9;
}
